# Test folders
test/*
*/test/*

# Temporary notebook data
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

# Data folders
used_data/*
unused_data/*
data/allergies.csv
data/encounters.csv
data/immunizations.csv
data/medications.csv
data/observations.csv
data/patients.csv
data/procedures.csv


# Temp data
~*

